* {
    box-sizing: border-box;
}
body {
width: 100%;
display: block;
position: relative;
overflow-x: hidden;
}
.sections_team{
  width: 1440px;
  margin: 0 auto;
}

.screen1{
  height: 1100px;
  width: 1440px;
}

.monoid{
  left: 0px;
    color: #000000;
    font-family: "Monoid-bold";
    font-size: 355px;
    font-weight: 700;
    position: relative;
    color: rgb(255, 255, 255);
    margin-top: -400px;
}


.mon{
  margin: 0px;
  position: relative;
  top: 0%;
}

.screen11{
 display: flex;
}

.man{
  top: 50px;
  left: 106px;
  position: relative;
}

.tab{
  top: 46px;
  left: 140px;
  position: relative;
}

.about{
  font-family: "Monoid-Regular";
  font-size: 25px; 
  color: #000000;
  font-weight: 400;
  top: -355px;
  left: 616px;
  position: relative;
  line-height: 1.3;
  text-align: left;
}

.about2{
  font-family: "Monoid-Regular";
  font-size: 25px; 
  color: #000000;
  font-weight: 400;
  top: -280px;
  left: 616px;
  position: relative;
}


.screen2{
    height: 1740px;
    width: 1440px;
}

.glif{
    left: 50px;
    color: #000000;
    font-family: "Monoid-bold";
    font-size: 270px;
    font-weight: 700;
    position: relative;
}

.screen21{
    display: flex;
}

.odin{
  top: 50px;
  left: 106px;
  position: relative;
}

.text1{
  font-family: "Monoid-Regular";
    font-size: 80px; 
  color: #000000;
  font-weight: 400;
  top: 50px;
  left: 130px;
  position: relative;
  line-height: 1.3;
}

.screen22{
    display: flex;
}

.dva{
    top: 50px;
    left: 510px;
    position: relative;
  }
  
  .text2{
    font-family: "Monoid-Regular";
  font-size: 80px; 
  color: #000000;
  font-weight: 400;
  top: 60px;
  left: 534px;
  position: relative;
  line-height: 1.3;
  }
  

.screen23{
    display: flex;
}

.tri{
    top: 60px;
    left: 870px;
    position: relative;
  }
  
  .text3{
    font-family: "Monoid-Regular";
    font-size: 80px; 
    color: #000000;
    font-weight: 400;
    top: 60px;
    left: 894px;
    position: relative;
    line-height: 1.3;
  }
  

.screen3{
    height: 1900px;
    width: 1440px;
}

.osobennosty{
    font-size: 270px;
    text-align: right;
    font-family: "Monoid-Bold";
    color: #000000;
    font-weight: 700;
    position: relative;
    top: 0px;
    width: 1400px;
}

.pictab{
  top: 180px;
    left: -1100px;
    position: relative;
}

.u{
  top: 220px;
  left: 80px;
  position: relative;
  float: left; 
  display: block;
}

.a{
  top: 500px;
  left: 160px;
  position: relative;
  float: left; 
  display: block;
}

.b{
  top: 780px;
  left: 240px;
  position: relative;
  float: left; 
  display: block;
}

.first1{
  font-family: "Monoid-Regular";
  font-size: 330px;
}

.screen4{
  height: 1740px;
  width: 1440px;
}

.element{
  font-size: 270px;
    text-align: right;
    font-family: "Monoid-Bold";
    color: #000000;
    font-weight: 700;
    position: relative;
    top: 0px;
    width: 1400px;
}

.setk{
  top: 60px;
  position: relative;
}

.e2{
  top: -1300px;
  left: 650px;
  position: relative;
}

.e3{
  top: -1835px;
  left: 1100px;
  position: relative;
}

.eda{
  top: -1943px;
  left: 650px;
  position: relative;
}

.emw{
  top: -2010px;
  left: 610px;
  position: relative;
}

.x{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: -3200px;
    left: 50px;
    position: relative;
}

.v{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: -2800px;
    left: 50px;
    position: relative;
}

.t{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: -2350px;
    left: 50px;
    position: relative;
}

.screen5{
  height: 1900px;
  width: 1440px;
}

.nachertaniya{
  font-size: 270px;
  text-align: right;
  font-family: "Monoid-Bold";
  color: #000000;
  font-weight: 700;
  position: relative;
  top: 0px;
  width: 1400px;
}

.table{
  top: 60px;
  position: relative;
}

.rr2{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: -700px;
    left: 50px;
    position: relative;
}

.bo{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 700;
    top: -435px;
    left: 50px;
    position: relative;
}
.i{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: -160px;
    left: 50px;
    position: relative;
}

.rr3{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: -820px;
    left: 1000px;
    position: relative;
}

.bo2{
  font-family: "Monoid-Bold";
    font-size: 25px; 
    color: #000000;
    font-weight: 700;
    top: -610px;
    left: 1000px;
    position: relative;
}

.i2{
  font-family: "Monoid-Italic";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: -410px;
    left: 1000px;
    position: relative;
}

.screen6{
  height: 1900px;
  width: 1440px;
}

.lang{
  font-size: 270px;
  text-align: right;
  font-family: "Monoid-Bold";
  color: #000000;
  font-weight: 700;
  position: relative;
  top: 0px;
  width: 1400px;
}

.support{
  top: 60px;
  position: relative;
  text-align: right;
}

.grafik{
  top: 280px;
  position: relative;
  text-align: center;
}

.screen61{
  display: flex;
  margin: 40px;
}

.p{
  top: 500px;
    left: 180px;
    position: relative;
}

.h{
  top: 500px;
  left: 480px;
    position: relative;

}

.s{
  top: 500px;
    left: 790px;
    position: relative;
}

.python{
  font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: 500px;
    left: 190px;
    position: relative;
}

.html{
  font-family: "Monoid-Regular";
  font-size: 25px; 
  color: #000000;
  font-weight: 400;
  top: 500px;
  left: 490px;
  position: relative;
}

.shell{
font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: 500px;
    left: 800px;
    position: relative;
}

.tur{
    top: 600px;
    left: 106px;
    position: relative;
}
  
.tur1{
    font-family: "Monoid-Regular";
    font-size: 25px; 
    color: #000000;
    font-weight: 400;
    top: 500px;
    left: 180px;
    position: relative;
}

.tur2{
  font-family: "Monoid-Regular";
    font-size: 80px; 
    color: #000000;
    font-weight: 400;
    top: 400px;
    left: 75px;
    position: relative;
    text-align: right;
    width: 1400px;
}

.rum{
  top: 590px;
  right:189px;
  position: relative;
  text-align: right;
}

.rum1{
  font-family: "Monoid-Regular";
  font-size: 25px; 
  color: #000000;
  font-weight: 400;
  top: 500px;
  left: 0px;
  position: relative;
  text-align: right;
}

.rum2{
font-family: "Monoid-Regular";
  font-size: 80px; 
  color: #000000;
  font-weight: 400;
  top: 400px;
  left: 75px;
  position: relative;
  text-align: left;
  width: 1400px;
}

.nid{
  top: 600px;
  left: 106px;
  position: relative;
}

.nid1{
  font-family: "Monoid-Regular";
  font-size: 25px; 
  color: #000000;
  font-weight: 400;
  top: 500px;
  left: 180px;
  position: relative;
}

.nid2{
font-family: "Monoid-Regular";
  font-size: 80px; 
  color: #000000;
  font-weight: 400;
  top: 400px;
  left: 75px;
  position: relative;
  text-align: right;
  width: 1400px;
}

